<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066300392478-4o18daad06n7q8ntn5hj5h99ib3klgbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066300392478-4o18daad06n7q8ntn5hj5h99ib3klgbj</string>
	<key>API_KEY</key>
	<string>AIzaSyC8zj_qOc7fmvPc3Wbc5zpOeHgRMcVWvLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1066300392478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admissionhero.app</string>
	<key>PROJECT_ID</key>
	<string>admission-hero</string>
	<key>STORAGE_BUCKET</key>
	<string>admission-hero.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066300392478:ios:79c437c829e3dc0dab9a0f</string>
</dict>
</plist>